*
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

html,
body
{
	height: 100%;
}

body
{
	color: #b2b3b6;
	background-color: #231f20;
	background-image: url(../img/background.svg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: courier, helvetica, arial;
}

:focus
{
	outline: none !important;
}

a
{
	text-decoration: none;
	color: #d2232a;
}

h1, h3
{
	margin: 20px 0;
}

.person a
{
	color: #ffffff;
}

.placeholder
{
	display: table;
	height: 100%;
	width: 100%;
}

.graphic
{
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-top: 22px;
}

.person
{
	text-align: left;
	display: inline-block;
	margin: 50px 120px;
}

.label
{
	color: #d2232a;
	margin-right: 6px;
}

.events
{
	max-width: 851px;
	margin: 0 auto;
}

.event
{
	margin-bottom: 48px;
	padding-bottom: 8px;
	border-bottom: 1px dotted #626366;
}

.event img
{
	border-radius: 8px;
	opacity: 0.5;
	margin: 12px 0 16px 0;
	transition: opacity 0.4s linear;
}

.event img:hover
{
	opacity: 1;
}

.past > .event
{
	opacity: 0.4;
}

.past > .event a
{
	text-decoration: underline;
}

.past > .event .liveonly
{
	display: none;
}

.past > .event a
{
	color: #b2b3b6;
}